ul.galleryItems {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}

ul.galleryItems li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    vertical-align: top;
    box-sizing: border-box;
}

h2{
	text-align: center;
	color:#fff;
}

ul.galleryItems li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}

ul.galleryItems.columns-3 li {
	height: auto;
	width: 20%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

ul.galleryItems.columns-3 li:hover {
	width: 30%;
	height: auto;
}

@media (max-width: 900px) {
    .wrapper{
        width: 100%;
    }
	
	ul.galleryItems.columns-3 li {
		height: auto;
		width: 20%;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}

	ul.galleryItems.columns-3 li:hover {
		width: 30%;
		height: auto;
	}

@media (max-width: 600px) {
    ul.galleryItems-nav li {
        display: block;
        margin: 0 0 5px;
    }
	
    ul.galleryItems-nav li a {
        display: block;
    }
	
    ul.galleryItems {
        margin-left: 0;
    }
	
    ul.galleryItems.columns-3 li {
		height: auto;
		width: 20%;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		-ms-transition: all 1s ease;
		transition: all 1s ease;
	}

	ul.galleryItems.columns-3 li:hover {
		width: 30%;
		height: auto;
	}
}