@font-face {
	font-family: specialFont;
	src: url(../fonts/Capture_it.ttf);
}

@-webkit-keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }

  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }

  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }

  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.wobble-bottom {
  display: inline-block;
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-bottom:hover, .wobble-bottom:focus, .wobble-bottom:active {
  -webkit-animation-name: wobble-bottom;
  animation-name: wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

body {
    background: url("../Images/background.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
    color:#000305;
    font-size:87.5%;
    font-family: specialFont;
    line-height:1.5;
    text-align:left;
}

#heading {
    display: inline-block;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #12366d;
}

.body {
    margin: 0 auto;
    width:70%;
    clear:both;
}

.mainheader h1 {
    font-family: serif;
    text-align: center;
    font-size: 400%;
    text-shadow: 0 0 10px #FFFF00;
    font-size:50px;
    color: #553600;
}

.mainheader #temple {
    width:50%;
    height: auto;
    margin: 2% 25%;
}

.mainheader #right {
    width:20%;
    height: auto;
    margin: 2% 25%;
}

.mainheader nav {
    background-color: rgba(113,134,131,0.6);
    height:60px;
    font-size: 120%;
    border-width: 5px;
    border-style:inset;
    border-color: #949fa6;
    border-radius: 5px;
}

.mainheader nav ul {
    list-style: none;
    margin: 0 auto;
}

.mainheader nav ul li {
    float: left;
    display: inline;
}

.mainheader nav a:link, .mainheader nav a:visited {
    color:#fff;
    text-shadow:3px 3px black;
    display:inline-block;
    padding: 15px 25px;
    height: 30px;
}

.mainheader nav ul li a{
    border-radius: 5px;
}

.maincontent {
    line-height: 25px;
    border-radius: 5px;
}

.content {
    width: 70%;
    float:left;
}

.topcontent {
    background-color:rgba(113,134,131,0.8);
    border-width: 5px;
    border-style:inset;
    border-color: #949fa6;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

.bottomcontent {
    background-color:rgba(113,134,131,0.8);
    border-width: 5px;
    border-style:inset;
    border-color: #949fa6;
    border-radius: 5px;
    padding: 3% 5%;
    margin-top: 2%;
}

aside {
    width: 19.5%;
    float: right;
    background-color:rgba(113,134,131,0.8);
    border-width: 5px;
    border-style:inset;
    border-color: #949fa6;
    border-radius: 5px;
    margin-top: 1.5%;
    margin-left: 3%;
    margin-bottom: 2%;
    padding: 2% 3%;
}
aside img{
    width: 99%;
    height: 50%;
}
.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}

.mainfooter {
    width: 100%;
    height: 10%;
    float: left;
    background-color:rgba(113,134,131,0.8);
    border-width: 5px;
    border-style:inset;
    border-color: #949fa6;
    border-radius: 35px;
    margin: 2% 0;
}
.mainfooter ul{
    display: inline-block;
    float:left;
    list-style: none;
    margin-left: 10%;
    margin-top: 0
}


.mainfooter p {
    text-align: left;
    padding-right: 40%;
    padding-left: 35%;
}

@media only screen  and (min-width: 150px) and (max-width: 600px)
{
    .body {
        width: 90%;
        font-size: 95%;
    }

    .mainheader img {
        width:100%;
        margin: 2% 0;
    }

    .mainheader nav {
        height: 160px;
    }

    .mainheader nav ul {
        padding-left: 0px;
    }

    .mainheader nav ul li {
        width: 100%;
        text-align: center;
    }

    .mainheader nav a:link, .mainheader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }

    .content {
        width: 100%;
        float:left;
        margin-top: 2%;
    }

    aside {
        width: 90%;
        margin-left:0%;
        margin-bottom: 2%;
        padding: 2% 3%;
    }
}