@font-face{
    font-family: specialFont;
    src: url(../fonts/Capture_it.ttf);
}

h1{
    text-align: center;
}

.photo{
    width:33%;
    height: auto;
}

.contentInfo{
    width: 100%;
    margin-top: 20px;
    float: left;
    color: black;
    background: rgba(45,178,215,1);
    background: -moz-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,178,215,1)), color-stop(41%, rgba(41,156,188,0.9)), color-stop(58%, rgba(21,136,168,0.86)), color-stop(100%, rgba(37,127,152,0.75)));
    background: -webkit-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -o-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: -ms-linear-gradient(left, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    background: linear-gradient(to right, rgba(45,178,215,1) 0%, rgba(41,156,188,0.9) 41%, rgba(21,136,168,0.86) 58%, rgba(37,127,152,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db2d7', endColorstr='#257f98', GradientType=1 );
    border-width: 2px;
    border-style: inset;
    border-color: skyblue;
    box-shadow: 10px 10px 5px black;
    border-radius: 20px;
}

.photo{
    float: left;
    padding: 10px;
    margin-right: 10px;
    border-top-left-radius: 20px;
}

.info{
    padding: 10px 10px 10px 10px;
}



#widepic {
    width: 400px;
    height: auto;
}

 /*RESPONSIVE*/
@media only screen  and (min-width: 150px) and (max-width: 600px) {
    .contentInfo .info {
        width: 95%;
    }
    .photo {
        width: 94%
    }

    #widepic {
        width: 90%;
        height: auto;
    }
}

